<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="BaseURIHttpMethod" value="http://localhost:50099/"/>
    <add key="BaseURIActionNames" value="http://localhost:51492/"/>
    <add key="BaseURIAttribute" value="http://localhost:51492/"/>
  </appSettings>
</configuration>