
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
    <!-- Latest compiled and minified CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- jQuery library -->
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>

    <!-- Popper JS -->
    <script src="~/Scripts/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h2>P&aacute;gina principal.</h2>
            <p>Acceso a recurso sin autenticaci&oacute;n</p>
        </div>
        <p>@Html.ActionLink("Ir a recurso restringido", "AuthenticatedUsers")</p>
        <p>@Html.ActionLink("Cerrar Sesión", "LogOff", "Account")</p>
    </div>
</body>
</html>
